/* nav */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo {
	width: 120px;
	height: 50px;
}

/* general */
a {
	color: inherit;
}

a:hover {
	text-decoration: none;
}