/* global */
:root {
	--color-blue: #38b6ff;
	--color-gray: #423b39;
}

/* general */
a {
	color: inherit;
}

a:hover {
	text-decoration: none;
}

img {
	object-fit: cover;
}

.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flex-centered {
	justify-content: center;
}

.flex-between {
	justify-content: space-between;
}

.flex-inverse {
	flex-direction: column;
}

.flex-inverse,
.flex-between,
.flex-centered,
.flex-vertical {
	display: flex;
	align-items: center;
}

.reveal {
	opacity: 1 !important;
}

/* nav */
nav {
	align-items: center;
	position: fixed;
	width: 100%;
	background-color: white;
}

.logo {
	width: 120px;
	height: 50px;
}

.logo:hover {
	cursor: pointer;
}

.email-btn {
	display: inline-block;
	border: 0;
	background-color: black;
	color: white;
}

/* hero */
.hero {
	border: 1px solid gold;
	height: 100vh;
	display: flex;
	align-items: center;
}

.hero .message {
	width: 700px;
}

.social-links a {
	font-size: 2rem;
}

/* projects */
.featured > * {
	flex: 1;
	height: 300px;
}

.ft-1 {
	background-image: url('./img//ft1.jpg');
}

.ft-2 {
	background-image: url('./img//ft2.jpg');
}

.others > * {
	flex: 1;
	height: 200px;
	background-color: lightcoral;
}

.oth-1 {
	background-image: url('./img//oth1.jpg');
}

.oth-2 {
	background-image: url('./img//oth2.jpg');
}

.oth-3 {
	background-image: url('./img//oth3.jpg');
}

.project-details {
	height: 100%;
	align-items: flex-start;
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, rgba(67, 67, 67, 0.7), rgba(0, 0, 0, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, rgba(67, 67, 67, 0.7), rgba(0, 0, 0, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	opacity: 0;
  transition: opacity 0.7s;
}

.tags > * {
	background-color: var(--color-gray);
	font-size: 0.8rem;
}

.others h4 {
	font-size: 1.2rem;
}

.others p {
	font-size: 0.9rem;
}
